.float-form {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 5px 5px whitesmoke;
}

.form-control,
.form-select {
    box-shadow: none !important;
}

.form-control {
    height: 30px;
}

.form-control::placeholder,
.form-select {
    font-size: 12px !important;
}

.filter-modal button {
    border-radius: 8px;
    outline: none;
    padding: 2px 16px;
    font-size: 14px;
    font-weight: 600;
}

#filter-btn {
    border: none;
    background: #39CDCC;
    color: white;
}

#reset-btn {
    color: #545F7D;
    border: 1px solid #545F7D;
    background-color: white;
}

.none {
    display: none;
}

@media(max-width:425px) {
    #logo {
        display: block;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-bg img {
        display: none;
    }

    .login-form h3 {
        margin-top: -50px;
    }

    #navbarScroll form {
        display: none;
    }

    #navbarScroll {
        margin-left: 0px;
    }

    .table-footer-container {
        justify-content: center;
    }

    #activate-user-btn {
        margin-left: 10px;
    }

    .details-tab {
        justify-content: center;
        column-gap: 25px;
        row-gap: 15px;
    }

    .details-top-top {
        height: unset;
        row-gap: 20px;
    }

    .rule {
        border-right: none;
    }

}

@media (max-width:400px) {
    #activate-user-btn {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media(max-width:768px) {

    #navbarScroll form {
        display: none;
    }

    #navbarScroll {
        margin-left: 0px;
    }

    #sidebar-md {
        display: block;
        margin-top: 20px;
        margin-left: -20px;
    }

    #sidebar-lg {
        display: none;
    }

    .details-bottom-card .row {
        column-gap: 0px;
    }
}