.cardTopSection h2 {
    font-size: 22px;
}

.cardContainer p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
}

.cardContainer {
    background-color: white;
    color: #213f7d;
    box-shadow: 0px 0px 10px 5px whitesmoke;
    height: 160px;
}

.cardContainer h3 {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}

.cardContainer img {
    padding: 10px 0px 10px 20px;
}

.usertable img {
    height: 12px;
    margin-left: 5px;
    cursor: pointer;
}

.usertable h6 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 8px;
}

.usertable td {
    text-transform: capitalize;
    color: #545F7D;
    font-weight: 400;
    font-size: 12px;
}

.usertable tr {
    align-items: center;
    justify-content: center;
}


.usertable {
    background-color: white;
    box-shadow: 0px 0px 5px 5px whitesmoke;
    padding: 20px;
    /* overflow-x: scroll; */
}

.page-link {
    border: none !important;
    color: gray !important;
}

.page-item.active .page-link {
    background-color: white !important;
    font-weight: 700;
    color: black;
}

.page-item .page-link {
    background-color: inherit;
    box-shadow: none !important;
    font-size: 14px;
}

#page-btn {
    background-color: #e5e8ee;
    font-size: 14px;
    font-weight: 700;
}

.table-footer select {
    background-color: #e5e8ee;
    border: none;
    outline: none;
    width: 70px;
    padding: 5px 2px;
    margin: 0px 5px;
    border-radius: 5px;
}

.table-footer {
    color: #6e6c71;
    font-weight: 500;
    background-color: white;
}

.action-btn {
    color: #545F7D;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    line-height: 16px;
}

.action-btn:hover {
    background: whitesmoke;
}

.dropdown-menu {
    box-shadow: 0px 0px 5px 5px whitesmoke;
    border: none !important;
    width: 200px !important;
}

.active-text {
    padding: 5px 2px;
    border-radius: 100px;
    font-weight: 600;
    text-align: center;
}

.active-text-active {
    color: #39CD62;
    background-color: #f3fcf6;
}

.active-text-inactive {
    color: #545F7D;
    background-color: #f5f5f7;
}

.active-text-blacklist {
    color: #E4033B;
    background-color: #fce6eb;
}

.active-text-pending {
    color: #E9B200;
    background-color: #fdf7e5;
}

@media(max-width:425px) {
    #logo {
        display: block;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-bg img {
        display: none;
    }

    .login-form h3 {
        margin-top: -50px;
    }

    #navbarScroll form {
        display: none;
    }

    #navbarScroll {
        margin-left: 0px;
    }

    .table-footer-container {
        justify-content: center;
    }

    #activate-user-btn {
        margin-left: 10px;
    }

    .details-tab {
        justify-content: center;
        column-gap: 25px;
        row-gap: 15px;
    }

    .details-top-top {
        height: unset;
        row-gap: 20px;
    }

    .rule {
        border-right: none;
    }

}

@media (max-width:375px) {
    #activate-user-btn {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media(max-width:768px) {

    #navbarScroll form {
        display: none;
    }

    #navbarScroll {
        margin-left: 0px;
    }

    #sidebar-md {
        display: block;
        margin-top: 20px;
        margin-left: -20px;
    }

    #sidebar-lg {
        display: none;
    }

    .details-bottom-card .row {
        column-gap: 0px;
    }
}