body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex1 {
  display: flex;
}

.flexjcac {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexBtw {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
}

#logo {
  width: 150px;
  margin-bottom: 60px;
  cursor: pointer;
}

#nav-logo {
  width: 150px;
  cursor: pointer;
}

.login-bg img {
  width: 100%;
}

.login-form {
  box-shadow: -20px 0px 20px -20px whitesmoke;
  height: 100vh;
}

.login-form h3 {
  color: #213f7d;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 20px;
}

.login-form p {
  color: #949bae;
  margin-bottom: 40px;
}

.login-form a {
  color: #39cdcc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

.login-form button {
  border: none;
  background-color: #39cdcc;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-size: small;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: 600;
}

.login-form input {
  outline: none;
  border: none;
  padding: 10px;
}

.login-form input:focus,
#navbarScroll form input:focus {
  box-shadow: none;
}

#showPassword {
  color: #39cdcc;
  text-transform: uppercase;
  font-size: small;
  height: min-content;
  width: fit-content;
  margin-bottom: 0px;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}

.login-form span {
  border: 2px solid #d8dade;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

#navbarScroll form input {
  outline: none;
  border: 1px solid #d8dade;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: none;
  padding-left: 10px;
  width: 300px;
}

#navbarScroll form svg {
  background-color: #39cdcc;
  width: 50px;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#navbarScrollingDropdown {
  color: #213f7d;
}

#navbarScroll {
  margin-left: 100px;
}

#navbarScroll form input::placeholder {
  font-size: 12px;
  color: silver;
  font-weight: 450;
}

button .navbar-toggler:focus {
  border: none;
  box-shadow: none;
  background-color: #213f7d;
}

.navbar-toggler {
  box-shadow: none !important;
}

#sidebar-md {
  display: none;
}

#sidebar-lg {
  box-shadow: 20px -20px 20px -10px whitesmoke;
  padding-top: 40px;
}

#navbarScroll section img {
  width: 48px;
  height: 48px;
}

#sidebar-lg img,
#sidebar-md img {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

#sidebar-lg p,
#sidebar-md p {
  text-transform: capitalize;
  font-weight: 400;
  height: 16px;
  line-height: 18.77px;
  color: #213f7d;
  margin-right: 15px;
}

#sidebar-lg span,
#sidebar-md span {
  cursor: pointer;
  padding-left: 20px;
}

#sidebar-lg span:hover p,
#sidebar-md span:hover {
  text-decoration: underline;
}

#sidebar-lg ul,
#sidebar-md ul {
  width: 100%;
  margin-top: 40px;
}

#sidebar-lg ul h6,
#sidebar-md ul h6 {
  color: #545F7D;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.08px;
  text-align: left;
  margin-left: -30px;
  margin-bottom: 10px;
  padding-left: 20px;
}

#sidebar-lg li,
#sidebar-md li {
  list-style: none;
  margin-left: -30px;
  width: initial;
  color: #213f7d;
  padding: 5px 0px;
  opacity: 0.6;
  font-size: 16px;
  line-height: 19px;
}

#active-link span {
  font-weight: 800;
  background-color: #d0f4f4;
  align-content: center;
  padding-top: 10px;
  border-left: 5px solid #39cdcc;
  margin-left: -5px;
}

#active-link span p {
  color: #213f7d;
  font-weight: 500;
}

.user-container {
  background-color: #fbfbfb;
}

.nav-bottom-border {
  box-shadow: 0px 5px 5px 1px whitesmoke;
  width: 100%;
}





@media(max-width:425px) {
  #logo {
    display: block;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .login-bg img {
    display: none;
  }

  .login-form h3 {
    margin-top: -50px;
  }

  #navbarScroll form {
    display: none;
  }

  #navbarScroll {
    margin-left: 0px;
  }

  .table-footer-container {
    justify-content: center;
  }

  #activate-user-btn {
    margin-left: 10px;
  }

  .details-tab {
    justify-content: center;
    column-gap: 25px;
    row-gap: 15px;
  }

  .details-top-top {
    height: unset;
    row-gap: 20px;
  }

  .rule {
    border-right: none;
  }

}

@media (max-width:375px) {
  #activate-user-btn {
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media(max-width:768px) {

  #navbarScroll form {
    display: none;
  }

  #navbarScroll {
    margin-left: 0px;
  }

  #sidebar-md {
    display: block;
    margin-top: 20px;
    margin-left: -20px;
  }

  #sidebar-lg {
    display: none;
  }

  .details-bottom-card .row {
    column-gap: 0px;
  }
}