body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex1 {
  display: flex;
}

.flexjcac {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexBtw {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
}

#logo {
  width: 150px;
  margin-bottom: 60px;
  cursor: pointer;
}

#nav-logo {
  width: 150px;
  cursor: pointer;
}

.login-bg img {
  width: 100%;
}

.login-form {
  box-shadow: -20px 0px 20px -20px whitesmoke;
  height: 100vh;
}

.login-form h3 {
  color: #213f7d;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 20px;
}

.login-form p {
  color: #949bae;
  margin-bottom: 40px;
}

.login-form a {
  color: #39cdcc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

.login-form button {
  border: none;
  background-color: #39cdcc;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-size: small;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: 600;
}

.login-form input {
  outline: none;
  border: none;
  padding: 10px;
}

.login-form input:focus,
#navbarScroll form input:focus {
  box-shadow: none;
}

#showPassword {
  color: #39cdcc;
  text-transform: uppercase;
  font-size: small;
  height: min-content;
  width: fit-content;
  margin-bottom: 0px;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}

.login-form span {
  border: 2px solid #d8dade;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

#navbarScroll form input {
  outline: none;
  border: 1px solid #d8dade;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: none;
  padding-left: 10px;
  width: 300px;
}

#navbarScroll form svg {
  background-color: #39cdcc;
  width: 50px;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#navbarScrollingDropdown {
  color: #213f7d;
}

#navbarScroll {
  margin-left: 100px;
}

#navbarScroll form input::placeholder {
  font-size: 12px;
  color: silver;
  font-weight: 450;
}

button .navbar-toggler:focus {
  border: none;
  box-shadow: none;
  background-color: #213f7d;
}

.navbar-toggler {
  box-shadow: none !important;
}

#sidebar-md {
  display: none;
}

#sidebar-lg {
  box-shadow: 20px -20px 20px -10px whitesmoke;
  padding-top: 40px;
}

#navbarScroll section img {
  width: 48px;
  height: 48px;
}

#sidebar-lg img,
#sidebar-md img {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

#sidebar-lg p,
#sidebar-md p {
  text-transform: capitalize;
  font-weight: 400;
  height: 16px;
  line-height: 18.77px;
  color: #213f7d;
  margin-right: 15px;
}

#sidebar-lg span,
#sidebar-md span {
  cursor: pointer;
  padding-left: 20px;
}

#sidebar-lg span:hover p,
#sidebar-md span:hover {
  text-decoration: underline;
}

#sidebar-lg ul,
#sidebar-md ul {
  width: 100%;
  margin-top: 40px;
}

#sidebar-lg ul h6,
#sidebar-md ul h6 {
  color: #545F7D;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.08px;
  text-align: left;
  margin-left: -30px;
  margin-bottom: 10px;
  padding-left: 20px;
}

#sidebar-lg li,
#sidebar-md li {
  list-style: none;
  margin-left: -30px;
  width: initial;
  color: #213f7d;
  padding: 5px 0px;
  opacity: 0.6;
  font-size: 16px;
  line-height: 19px;
}

#active-link span {
  font-weight: 800;
  background-color: #d0f4f4;
  align-content: center;
  padding-top: 10px;
  border-left: 5px solid #39cdcc;
  margin-left: -5px;
}

#active-link span p {
  color: #213f7d;
  font-weight: 500;
}

.user-container {
  background-color: #fbfbfb;
}

.nav-bottom-border {
  box-shadow: 0px 5px 5px 1px whitesmoke;
  width: 100%;
}

.cardTopSection h2 {
  font-size: 22px;
}

.cardContainer p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
}

.cardContainer {
  background-color: white;
  color: #213f7d;
  box-shadow: 0px 0px 10px 5px whitesmoke;
  height: 160px;
}

.cardContainer h3 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 24px;
}

.cardContainer img {
  padding: 10px 0px 10px 20px;
}

.usertable img {
  height: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.usertable h6 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 8px;
}

.usertable td {
  text-transform: capitalize;
  color: #545F7D;
  font-weight: 400;
  font-size: 12px;
}

.usertable tr {
  align-items: center;
  justify-content: center;
}


.usertable {
  background-color: white;
  box-shadow: 0px 0px 5px 5px whitesmoke;
  padding: 20px;
  /* overflow-x: scroll; */
}

.page-link {
  border: none !important;
  color: gray !important;
}

.page-item.active .page-link {
  background-color: white !important;
  font-weight: 700;
  color: black;
}

.page-item .page-link {
  background-color: inherit;
  box-shadow: none !important;
  font-size: 14px;
}

#page-btn {
  background-color: #e5e8ee;
  font-size: 14px;
  font-weight: 700;
}

.table-footer select {
  background-color: #e5e8ee;
  border: none;
  outline: none;
  width: 70px;
  padding: 5px 2px;
  margin: 0px 5px;
  border-radius: 5px;
}

.table-footer {
  color: #6e6c71;
  font-weight: 500;
  background-color: white;
}

.action-btn {
  color: #545F7D;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  line-height: 16px;
}

.action-btn:hover {
  background: whitesmoke;
}

.dropdown-menu {
  box-shadow: 0px 0px 5px 5px whitesmoke;
  border: none !important;
  width: 200px !important;
}

.active-text {
  padding: 5px 2px;
  border-radius: 100px;
  font-weight: 600;
  text-align: center;
}

.active-text-active {
  color: #39CD62;
  background-color: #f3fcf6;
}

.active-text-inactive {
  color: #545F7D;
  background-color: #f5f5f7;
}

.active-text-blacklist {
  color: #E4033B;
  background-color: #fce6eb;
}

.active-text-pending {
  color: #E9B200;
  background-color: #fdf7e5;
}

.details-section {
  color: #213F7D;
  font-size: 24px;
  font-weight: 500;
}

.details-btn button {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
  letter-spacing: 10%;
  outline: none;
  text-transform: uppercase;
  background-color: #fbfbfb;
  width: 170px;
  height: 40px;
}

.details-btn button:hover {
  transform: scale(1.02);
}

#blacklist-user-btn {
  color: #E4033B;
  border: 1px solid #E4033B;
}

#activate-user-btn {
  color: #39CDCC;
  border: 1px solid #39CDCC;
  margin-left: 20px;
}

.details-top-card {
  background-color: white;
  width: 100%;
  padding: 20px 20px 0px 20px;
  box-shadow: 0px 0px 10px 5px whitesmoke;
  color: #545F7D;
}

.details-top-card p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

#userImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #dbe0ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userImage img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.details-top-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  height: 100px;
}

.details-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.details-tab h4 {
  font-size: 14px;
  color: black;
  font-weight: 400;
  cursor: pointer;
}

.details-tab h4:hover {
  color: #545F7D;
}

.details-top-top h3 {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  color: #213F7D;
}

.details-bottom-card .row {
  gap: 10px;
}

.details-bottom-card {
  background-color: white;
  width: 100%;
  padding: 20px 20px 0px 20px;
  box-shadow: 0px 0px 10px 5px whitesmoke;
  color: #545F7D;
}

.details-bottom-card h3 {
  font-size: 16px;
  font-weight: 500;
  color: #213F7D;
  line-height: 18px;
  margin-bottom: 30px;
}

.details-bottom-card h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.details-bottom-card p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  overflow-wrap: break-word;
}

#activeDetailsTab {
  color: #39CDCC;
  border-bottom: 2px solid #39CDCC;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.rule {
  border-right: 1px solid #6e6c71;
  height: 100%;
}

.user-tier {
  padding-top: 4%;
}

.form-label {
  color: #545F7D;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: -10px !important;
}

.float-form {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 5px 5px whitesmoke;
}

.form-control,
.form-select {
  box-shadow: none !important;
}

.form-control {
  height: 30px;
}

.form-control::placeholder,
.form-select {
  font-size: 12px !important;
}

.filter-modal button {
  border-radius: 8px;
  outline: none;
  padding: 2px 16px;
  font-size: 14px;
  font-weight: 600;
}

#filter-btn {
  border: none;
  background: #39CDCC;
  color: white;
}

#reset-btn {
  color: #545F7D;
  border: 1px solid #545F7D;
  background-color: white;
}

.none {
  display: none;
}


@media(max-width:425px) {
  #logo {
    display: block;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .login-bg img {
    display: none;
  }

  .login-form h3 {
    margin-top: -50px;
  }

  #navbarScroll form {
    display: none;
  }

  #navbarScroll {
    margin-left: 0px;
  }

  .table-footer-container {
    justify-content: center;
  }

  #activate-user-btn {
    margin-left: 10px;
  }

  .details-tab {
    justify-content: center;
    column-gap: 25px;
    row-gap: 15px;
  }

  .details-top-top {
    height: unset;
    row-gap: 20px;
  }

  .rule {
    border-right: none;
  }

}

@media(max-width:768px) {

  #navbarScroll form {
    display: none;
  }

  #navbarScroll {
    margin-left: 0px;
  }

  #sidebar-md {
    display: block;
    margin-top: 20px;
    margin-left: -20px;
  }

  #sidebar-lg {
    display: none;
  }

  .details-bottom-card .row {
    column-gap: 0px;
  }
}